<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/dist/img/favicon/favicon.ico">
    <link rel="icon" media="(max-width: 640px)" href="../../assets/dist/img/favicon/android-chrome-512x512.png">

    <link rel="stylesheet" href="../../assets/dist/bs_5/css/">

    <link href="../../assets/dist/bs_5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/dist/bs_5/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../assets/dist/bs_5/css/style.css" rel="stylesheet">

    <title>Halaman Login - SISTA</title>
  </head>
  <body>
    <section class="form-02-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <div class="form-03-main">
                <div class="logo">
                  <img src="../../assets/dist/img/apps_logo/logo_aplikasi.jpg" alt="Sista Logo" style="border-radius: 50%;">
                  <!-- <img src="../../assets/dist/bs_5/images/user.png"> -->
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="adminnf@student.nurulfikri.ac.id" required="" aria-required="true">
                </div>

                <div class="form-group">
                  <input type="password" name="password" class="form-control _ge_de_ol" type="text" placeholder="123456" required="" aria-required="true">
                </div>

                <div class="checkbox">
                  <a href="../okta_dev/regis_sista.html">Buat Akun Baru</a>
                </div>

                <div class="form-group">
                  <div class="_btn_04">
                    <a onclick="validateLogin()">Login</a>
                  </div>
                  <div class="_btn_04 mt-3">
                    <a href="../index.html">Halaman Utama</a>
                  </div>
                </div>

                <div class="form-group pt-0">
                  <div class="_social_04">
                    <ol>
                      <li><a href="https://www.facebook.com/?locale=id_ID"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/i/flow/login"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://myaccount.google.com/?utm_source=sign_in_no_continue&pli=1"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></a></i></a></li>
                      <li><a href="https://www.linkedin.com/login/in"><i class="fa fa-linkedin"></i></a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function validateLogin() {
        var emailInput = document.getElementsByName('email')[0].value;
        var passwordInput = document.getElementsByName('password')[0].value;
    
        // Valid credentials for user 1
        var validEmail1 = 'ekoharyo@student.nurulfikri.ac.id';
        var validPassword1 = 'nfkampusti02terbaik';
    
        // Valid credentials for user 2
        var validEmail2 = 'adminnf@student.nurulfikri.ac.id';
        var validPassword2 = '123456';
    
        if ((emailInput === validEmail1 && passwordInput === validPassword1) || 
            (emailInput === validEmail2 && passwordInput === validPassword2)) {
          alert('Login berhasil!');
          // Pengalihan ke halaman jadwal.html setelah login berhasil
          window.location.href = '../eko_dev/dashboard_seminar_adm_sista.html';
        } else {
          alert('Email atau password salah. Silakan coba lagi.');
        }
      }
    </script>
    
  </body>

  
</html>