<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Form Daftar Seminar - Sista</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../../../assets/dist/img/favicon/favicon.ico">
        <link rel="icon" media="(max-width: 640px)" href="../../../assets/dist/img/favicon/android-chrome-512x512.png">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="../../assets/landing_page/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../../assets/landing_page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="../../assets/landing_page/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../../assets/landing_page/css/style.css" rel="stylesheet">
    </head>
    <style>
        @media (max-width: 767px) {
            /* Aturan CSS untuk perangkat kecil */
        }
    </style>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <img class="animation__shake" src="../../assets/dist/img/apps_logo/logo_aplikasi.jpg" alt="Sista Logo"
                height="60" width="60">
        </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        <div class="container-fluid bg-white sticky-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                    <a href="#" class="navbar-brand">
                        <img class="img-fluid" src="../../../assets/dist/img/apps_logo/logo_aplikasi.jpg" alt="Logo"
                            style="border-radius: 50%;" width="65%" height="65%">
                    </a>
                    <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <a href="../index.html" class="nav-item nav-link">Halaman Utama</a>
                            <a href="../nur_dev/jadwal_sista.html" class="nav-item nav-link">Jadwal</a>
                            <a href="form_daftar_seminar_sista.html" class="nav-item nav-link active">Pengajuan</a>
                            <a href="form_peserta_sista.html" class="nav-item nav-link">Peserta</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown" data-bs-toggle="dropdown">Hal Lain</a>
                                <div class="dropdown-menu bg-light rounded-0 m-0">
                                    <a href="../berita.html" class="dropdown-item">Berita</a>
                                    <a href="../tentang.html" class="dropdown-item">Tentang Project</a>
                                    <a href="../kontak.html" class="dropdown-item">Kontak Project</a>
                                </div>
                            </div>
                            <a href="../nur_dev/login_sista.html" class="nav-item nav-link">Login</a>
                            <a href="../okta_dev/regis_sista.html" class="nav-item nav-link">Register</a>
                        </div>
                        <div class="border-start ps-4 d-none d-lg-block">
                            <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-2 text-dark mb-4 animated slideInDown">Form Daftar Seminar</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="../index.html">Halaman Utama</a></li>
                        <li class="breadcrumb-item text-dark" aria-current="page">Form Daftar Seminar</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container card shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="mb-4 text-center">Form Tambah Data Acara Seminar Mahasiswa</h3>
                <form>
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="nim"
                                            placeholder="Masukan NIM Mahasiswa">
                                        <label for="nim">Masukan NIM Mahasiswa</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="mahasiswa"
                                            placeholder=" Masukan Nama Mahasiswa">
                                        <label for="mahasiswa">Masukan Nama Mahasiswa</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select name="prodi" id="prodi" class="form-control"
                                            placeholder="Pilih Program Studi">
                                            <option selected disabled>Pilih Program Studi</option>
                                            <option value="Teknik Informatika">Teknik Informatika</option>
                                            <option value="Sistem Informasi">Sistem Informasi</option>
                                            <option value="Bisnis Digital">Bisnis Digital</option>
                                        </select>
                                        <label for="prodi">Pilih Program Studi</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="time" class="form-control" id="waktu_seminar"
                                            placeholder=" Masukan Waktu Seminar">
                                        <label for="waktu_seminar">Masukan Nama Waktu Seminar</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="tanggal_seminar"
                                            placeholder=" Masukan Tanggal Seminar">
                                        <label for="tanggal_seminar">Masukan Tanggal Seminar</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="ruangan"
                                            placeholder=" Masukan Nama Ruangan">
                                        <label for="ruangan">Masukan Nama Ruangan</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select name="jenis_seminar" id="jenis_seminar" class="form-control"
                                            placeholder="Pilih Jenis Seminar">
                                            <option selected disabled>Pilih Jenis Seminar</option>
                                            <option value="Seminar Tugas Akhir">Seminar Tugas Akhir</option>
                                            <option value="Seminar Proposal">Seminar Proposal</option>
                                            <option value="Seminar Sidang Skripsi">Seminar Sidang Skripsi</option>
                                            <option value="Seminar Presentasi Proyek">Seminar Presentasi Proyek</option>
                                            <option value="Seminar Presentasi Proyek Akhir">Seminar Presentasi Proyek
                                                Akhir</option>
                                            <option value="Seminar Studi Kasus">Seminar Studi Kasus</option>
                                            <option value="Seminar Presentasi Akhir">Seminar Presentasi Akhir</option>
                                            <option value="Seminar Presentasi Proyek Akhir">Seminar Presentasi Proyek
                                                Akhir</option>
                                        </select>
                                        <label for="jenis_seminar">Pilih Jenis Seminar</label>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">


                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Judul Seminar" id="judul_seminar"
                                            style="height: 130px"></textarea>
                                        <label for="judul_seminar">Judul Seminar</label>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <div class="form-floating">
                                        <select name="pembimbing" id="pembimbing" class="form-control"
                                            placeholder="Pilih Pembimbing">
                                            <option selected disabled>Pilih Pembimbing</option>
                                            <option value="Prof. Dr. Ir. Budi Santoso, M.Sc.">Prof. Dr. Ir. Budi
                                                Santoso, M.Sc.
                                            </option>
                                            <option value="Prof. Dr. Ahmad Hasan, S.Si., M.Cs.">Prof. Dr. Ahmad Hasan,
                                                S.Si., M.Cs.
                                            </option>
                                            <option value="Prof. Dr. Indra Wijaya, S.T., M.Kom.">Prof. Dr. Indra Wijaya,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Prof. Dr. Rudi Santoso, S.T., M.Kom.">Prof. Dr. Rudi Santoso,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Dr. Rina Wijayanti, ST., M.Cs.">Dr. Rina Wijayanti, ST.,
                                                M.Cs.</option>
                                            <option value="Dr. Eng. Achmad Basuki, S.T., M.T.">Dr. Eng. Achmad Basuki,
                                                S.T., M.T.
                                            </option>
                                        </select>
                                        <label for="pembimbing">Pilih Pembimbing</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select name="penguji1" id="penguji1" class="form-control"
                                            placeholder="Pilih Program Studi">
                                            <option selected disabled>Pilih Penguji 1</option>
                                            <option value="Prof. Dr. Ir. Budi Santoso, M.Sc.">Prof. Dr. Ir. Budi
                                                Santoso, M.Sc.
                                            </option>
                                            <option value="Prof. Dr. Ahmad Hasan, S.Si., M.Cs.">Prof. Dr. Ahmad Hasan,
                                                S.Si., M.Cs.
                                            </option>
                                            <option value="Prof. Dr. Indra Wijaya, S.T., M.Kom.">Prof. Dr. Indra Wijaya,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Prof. Dr. Rudi Santoso, S.T., M.Kom.">Prof. Dr. Rudi Santoso,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Dr. Rina Wijayanti, ST., M.Cs.">Dr. Rina Wijayanti, ST.,
                                                M.Cs.</option>
                                            <option value="Dr. Eng. Achmad Basuki, S.T., M.T.">Dr. Eng. Achmad Basuki,
                                                S.T., M.T.
                                            </option>
                                        </select>
                                        <label for="prodi">Pilih Program Studi</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select name="penguji2" id="penguji2" class="form-control"
                                            placeholder="Pilih Program Studi">
                                            <option selected disabled>Pilih Penguji 2</option>
                                            <option value="Prof. Dr. Ir. Budi Santoso, M.Sc.">Prof. Dr. Ir. Budi
                                                Santoso, M.Sc.
                                            </option>
                                            <option value="Prof. Dr. Ahmad Hasan, S.Si., M.Cs.">Prof. Dr. Ahmad Hasan,
                                                S.Si., M.Cs.
                                            </option>
                                            <option value="Prof. Dr. Indra Wijaya, S.T., M.Kom.">Prof. Dr. Indra Wijaya,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Prof. Dr. Rudi Santoso, S.T., M.Kom.">Prof. Dr. Rudi Santoso,
                                                S.T., M.Kom.
                                            </option>
                                            <option value="Dr. Rina Wijayanti, ST., M.Cs.">Dr. Rina Wijayanti, ST.,
                                                M.Cs.</option>
                                            <option value="Dr. Eng. Achmad Basuki, S.T., M.T.">Dr. Eng. Achmad Basuki,
                                                S.T., M.T.
                                            </option>
                                        </select>
                                        <label for="prodi">Pilih Program Studi</label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="status_seminar"
                                            placeholder="Masukan Status Seminar" value="Proses Pengajuan" disabled>
                                        <label for="status_seminar">Masukan Status Seminar</label>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary rounded-pill py-3 px-5" type="button"
                                            onclick="validateForm()">Tambah Seminar</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- About End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-primary mb-4">Akses Cepat Tautan :</h4>
                        <a class="btn btn-link" href="../index.html">Halaman Utama</a>
                        <a class="btn btn-link" href="../nur_dev/jadwal_sista.html">Jadwal Seminar</a>
                        <a class="btn btn-link" href="form_peserta_sista.html">Pengajuan Seminar</a>
                        <a class="btn btn-link" href="form_daftar_seminar_sista.html">Pendaftaran Peserta Seminar</a>
                        <a class="btn btn-link" href="../berita.html">Berita</a>
                        <a class="btn btn-link" href="../tentang.html">Tentang Project</a>
                        <a class="btn btn-link" href="../kontak.html">Kontak Project</a>
                        <a class="btn btn-link" href="../nur_dev/login_sista.html">Login</a>
                        <a class="btn btn-link" href="../okta_dev/regis_sista.html">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="fw-medium" href="https://github.com/ekomh170/Project-2-PemWeb.git">Kelompok
                            7</a> Sista 1.0.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        Versi Aplikasi : Sista 1.0
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->




        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
                class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../assets/landing_page/lib/wow/wow.min.js"></script>
        <script src="../../assets/landing_page/lib/easing/easing.min.js"></script>
        <script src="../../assets/landing_page/lib/waypoints/waypoints.min.js"></script>
        <script src="../../assets/landing_page/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="../../assets/landing_page/js/main.js"></script>


        <script>
            function validateForm() {
                var nim = document.getElementById('nim').value;
                var mahasiswa = document.getElementById('mahasiswa').value;
                var prodi = document.getElementById('prodi').value;
                var waktu_seminar = document.getElementById('waktu_seminar').value;
                var tanggal_seminar = document.getElementById('tanggal_seminar').value;
                var ruangan = document.getElementById('ruangan').value;
                var judul_seminar = document.getElementById('judul_seminar').value;
                var jenis_seminar = document.getElementById('jenis_seminar').value;
                var pembimbing = document.getElementById('pembimbing').value;
                var penguji1 = document.getElementById('penguji1').value;
                var penguji2 = document.getElementById('penguji2').value;

                if (nim === "" || mahasiswa === "" || prodi === "" || waktu_seminar === "" ||
                    tanggal_seminar === "" || ruangan === "" || judul_seminar === "" ||
                    jenis_seminar === "" || pembimbing === "" || penguji1 === "" || penguji2 === "") {
                    alert("Semua kolom harus diisi!");
                    return false;
                } else {
                    alert("Pendaftaran Acara Seminar berhasil diajukan!");
                    return true;
                }
            }
        </script>
    </body>

</html>